* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    background-image: url();
}

header {
    font-family: 'Bungee Shade', cursive;
    color: aliceblue;
    text-align: center;
    padding: 25px;
    margin: 5px;
    background-color:rgb(104, 99, 75);
}

p {
    font-size: 22px;
    color:  rgb(175, 48, 9);
}

i {
    color:  rgb(2, 21, 73);
}

.wrapper {
    width: 1040px;
    margin: 0 auto;
}

.statistics {
    display: flex;
    flex-direction: column;
}

.totalCaseBox {
    margin-top: 1rem;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(247, 197, 60);
}

.boxWrapper {
    margin-top: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    border-radius: 10px;
    background-color: rgb(247, 197, 60);
}

.box {
    border-right: 3px solid rgb(2, 21, 73);
}

.box:last-child {
    border: none;
}

.countries {
    margin-top: 0.5rem ;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

#myInput {
    /* background-image: url('/css/searchicon.png'); */
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 35%;
    font-size: 14px;
    padding: 10px 20px 12px 30px;
    border: 2px solid #ddd;
    margin-top: 15px;
    float:right;
}

tr:first-child {
    text-transform: uppercase;
}

tr:nth-child(even) {
    color: rgb(2, 21, 73);
}

tr:nth-child(odd) {
    background-color:  rgb(104, 99, 75);
    color: #fafafa;
}

tr td {
    padding: 15px;
}

th {
    padding: 15px;  
    color: #fafafa;
}
